<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-38198-1660374741/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python

## 1. Split this string

In [23]:
s = "Hi there Sam!"

In [24]:
s.split(" ")

['Hi', 'there', 'Sam!']

*`italicized text`*## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [25]:
planet = "Earth"
diameter = 12742

In [26]:
print('The diameter of {planet} is {measure} kilometers'.format(planet=planet, measure=diameter))

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [27]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [28]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [29]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [30]:
a = [0]*10
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [31]:
b = [5]*10
print(b)

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

## 5. Create an array of all the even integers from 20 to 35

In [32]:
a = [x for x in range(20,26) if x%2 == 0]
print(a)

[20, 22, 24]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [33]:
matrix = [ [x for x in range(0,3)],[y for y in range(3,6)],[z for z in range(6,9)] ]
for row in matrix:
  print(row,end="\n")

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [34]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

In [35]:
np.concatenate((a,b))

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [36]:
import pandas as pd

In [37]:
data = [ ["tom",10] , ["tim",15] , ["tots",20] ]
pd.DataFrame(data,columns=['Name','Age'])

   Name  Age
0   tom   10
1   tim   15
2  tots   20

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [38]:
dates = pd.date_range(start='2023-01-01', end='2023-02-10', freq='1D')
list2020 = []
for i in dates :
  list2020.append(i.strftime('%d-%m-%Y'))
list2020

['01-01-2023',
 '02-01-2023',
 '03-01-2023',
 '04-01-2023',
 '05-01-2023',
 '06-01-2023',
 '07-01-2023',
 '08-01-2023',
 '09-01-2023',
 '10-01-2023',
 '11-01-2023',
 '12-01-2023',
 '13-01-2023',
 '14-01-2023',
 '15-01-2023',
 '16-01-2023',
 '17-01-2023',
 '18-01-2023',
 '19-01-2023',
 '20-01-2023',
 '21-01-2023',
 '22-01-2023',
 '23-01-2023',
 '24-01-2023',
 '25-01-2023',
 '26-01-2023',
 '27-01-2023',
 '28-01-2023',
 '29-01-2023',
 '30-01-2023',
 '31-01-2023',
 '01-02-2023',
 '02-02-2023',
 '03-02-2023',
 '04-02-2023',
 '05-02-2023',
 '06-02-2023',
 '07-02-2023',
 '08-02-2023',
 '09-02-2023',
 '10-02-2023']

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [39]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [40]:
pd.DataFrame( [ [x[0] for x in lists],[x[1] for x in lists],[x[2] for x in lists] ],columns=['S.no','Name','Age'])

  S.no Name  Age
0    1    2    3
1  aaa  bbb  ccc
2   22   25   24